@media print {
    .paper-print {
      width: 100% !important;
      height: auto !important;
      page-break-inside: avoid !important;
      overflow: visible !important;
      break-inside: avoid !important;
      margin: 0 !important;
      padding: 0 !important;
      background-image: none !important;
    }
     .recharts-wrapper {
        transform: scale(0.9);
        transform-origin: top left;
      }
    }
  
    .chart-container {
      width: 100% !important;
      height: auto !important;
      display: block;
      page-break-inside: avoid !important;
    }
  
  